body{
    background: chocolate;
    align-items: center;
}
.game{
    width: 500px;
    background-color:rgb(0, 195, 255) ;
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    margin: 139px 452px 189px;;
}
.game div{
    height: 100px;
    border: 2px solid white;
    color: #ffffff;
    text-align: center;
    font-size: 72px;
}